In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
#df_test['Difference'] = (df_test['First_Date'] - df_test['Second Date']).dt.days

In [ ]:
# DT_PRIMA_CONS - DT_PRIMA_DIAG Em dias
# DT_INICIO_TRAT - DT_PRIMA_DIAG Em dias
# DT_INICIO_TRAT - DT_PRIMA_CONS Em dias
# DATA_OBITO - DT_INICIO_TRAT Em dias
# DATA_OBITO - DT_PRIMA_DIAG Em dias
# DATA_OBITO - DT_PRIMA_CONS Em dias

# Dividir as 4 variáveis temporais por bimestre

In [2]:
rhc12 = pd.read_excel('C:\\Users\\rapha\\Desktop\\Lara\\TCR\\Bases_TCR\\rhc12_v3.xlsx')
rhc13 = pd.read_excel('C:\\Users\\rapha\\Desktop\\Lara\\TCR\\Bases_TCR\\rhc13_v3.xlsx')
rhc15 = pd.read_excel('C:\\Users\\rapha\\Desktop\\Lara\\TCR\\Bases_TCR\\rhc15_v3.xlsx')
rhc16 = pd.read_excel('C:\\Users\\rapha\\Desktop\\Lara\\TCR\\Bases_TCR\\rhc16_v3.xlsx')


bases = [rhc12,rhc13,rhc15,rhc16]
database = pd.concat(bases)

In [3]:
for base in bases:
    base['DATA_OBITO'].replace({'/  /':'01/01/2200','99/99/9999':'01/01/1700'}, inplace=True)
    base['DT_INICIO_TRAT'].replace({'/  /':'01/01/1700', '88/88/8888':'01/01/1700','99/99/9999':'01/01/1700'}, inplace=True)

In [4]:
for base in bases:
    base["CONS-DIAG"] = (pd.to_datetime(base['DT_PRIMA_CONS']) - pd.to_datetime(base['DT_PRIMA_DIAG'])).dt.days
    base["TRAT-DIAG"] = (pd.to_datetime(base['DT_INICIO_TRAT'])- pd.to_datetime(base['DT_PRIMA_DIAG'])).dt.days
    base["TRAT-CONS"] = (pd.to_datetime(base['DT_INICIO_TRAT']) - pd.to_datetime(base['DT_PRIMA_CONS'])).dt.days
    base["OBITO-TRAT"] = (pd.to_datetime(base['DATA_OBITO']) - pd.to_datetime(base['DT_INICIO_TRAT'])).dt.days
    base["OBITO-DIAG"] = (pd.to_datetime(base['DATA_OBITO']) - pd.to_datetime(base['DT_PRIMA_DIAG'])).dt.days
    base["OBITO-CONS"] = (pd.to_datetime(base['DATA_OBITO']) - pd.to_datetime(base['DT_PRIMA_CONS'])).dt.days

In [5]:
rhc12.head()

,Nº LINHAS,TP_CASO,SEXO,IDADE,LOCAL_NASC,RACA_COR,ESCOLARIDADE,CLIN_1_ATEND,CLIN_INICIO_TRAT,HIST_FAMILIAR,...,DATA_OBITO,FAIXA_ETARIA,UF_PROCED2,REGIAO_SAUDE,CONS-DIAG,TRAT-DIAG,TRAT-CONS,OBITO-TRAT,OBITO-DIAG,OBITO-CONS
0,0,1,Feminino,50,RJ,Parda,Fundamental completo,15,25,Não,...,01/01/2200,40-64,RJ,Metropolitana I,-213,-61,152,68477,68416,68629
1,1,1,Feminino,76,MA,Branca,Fundamental incompleto,15,24,Não,...,01/01/2200,>65,RJ,Metropolitana I,42,225,183,68181,68406,68364
2,2,1,Feminino,39,RJ,Branca,Sem informação,15,15,Sim,...,01/01/2200,20-39,RJ,Noroeste,-135,-8,127,68412,68404,68539
3,3,1,Feminino,58,RJ,Preta,Sem informação,15,15,Sem informação,...,06/06/2012,40-64,RJ,Metropolitana I,181,220,39,96,316,135
4,4,1,Feminino,44,RN,Parda,Fundamental incompleto,15,15,Não,...,01/01/2200,40-64,RJ,Metropolitana I,72,94,22,68458,68552,68480

In [6]:
for base in bases:
    base['PERIODO_DIAG'] = pd.DatetimeIndex(base['DT_PRIMA_DIAG']).month
    base['PERIODO_CONS'] = pd.DatetimeIndex(base['DT_PRIMA_CONS']).month
    base['PERIODO_TRAT'] = pd.DatetimeIndex(base['DT_INICIO_TRAT']).month
    base['PERIODO_OBITO'] = pd.DatetimeIndex(base['DATA_OBITO']).month

In [7]:
rhc12.head()

,Nº LINHAS,TP_CASO,SEXO,IDADE,LOCAL_NASC,RACA_COR,ESCOLARIDADE,CLIN_1_ATEND,CLIN_INICIO_TRAT,HIST_FAMILIAR,...,CONS-DIAG,TRAT-DIAG,TRAT-CONS,OBITO-TRAT,OBITO-DIAG,OBITO-CONS,PERIODO_DIAG,PERIODO_CONS,PERIODO_TRAT,PERIODO_OBITO
0,0,1,Feminino,50,RJ,Parda,Fundamental completo,15,25,Não,...,-213,-61,152,68477,68416,68629,9,2,7,1
1,1,1,Feminino,76,MA,Branca,Fundamental incompleto,15,24,Não,...,42,225,183,68181,68406,68364,9,10,4,1
2,2,1,Feminino,39,RJ,Branca,Sem informação,15,15,Sim,...,-135,-8,127,68412,68404,68539,9,5,9,1
3,3,1,Feminino,58,RJ,Preta,Sem informação,15,15,Sem informação,...,181,220,39,96,316,135,7,1,3,6
4,4,1,Feminino,44,RN,Parda,Fundamental incompleto,15,15,Não,...,72,94,22,68458,68552,68480,4,7,7,1

In [9]:
for base in bases:
    base.loc[ base['IDADE'] <= 19, 'FAIXA_ETARIA'] = '0-19'
    
    base.loc[(base['IDADE'] >= 20) & (base['IDADE'] <= 39), 'FAIXA_ETARIA'] = '20-39'
    
    base.loc[(base['IDADE'] > 39) & (base['IDADE'] <= 64), 'FAIXA_ETARIA'] = '40-64'
    
    base.loc[base['IDADE'] >= 65, 'FAIXA_ETARIA'] = '>65'

In [11]:
rhc12.head()

,Nº LINHAS,TP_CASO,SEXO,IDADE,LOCAL_NASC,RACA_COR,ESCOLARIDADE,CLIN_1_ATEND,CLIN_INICIO_TRAT,HIST_FAMILIAR,...,CONS-DIAG,TRAT-DIAG,TRAT-CONS,OBITO-TRAT,OBITO-DIAG,OBITO-CONS,PERIODO_DIAG,PERIODO_CONS,PERIODO_TRAT,PERIODO_OBITO
0,0,1,Feminino,50,RJ,Parda,Fundamental completo,15,25,Não,...,-213,-61,152,68477,68416,68629,9,2,7,1
1,1,1,Feminino,76,MA,Branca,Fundamental incompleto,15,24,Não,...,42,225,183,68181,68406,68364,9,10,4,1
2,2,1,Feminino,39,RJ,Branca,Sem informação,15,15,Sim,...,-135,-8,127,68412,68404,68539,9,5,9,1
3,3,1,Feminino,58,RJ,Preta,Sem informação,15,15,Sem informação,...,181,220,39,96,316,135,7,1,3,6
4,4,1,Feminino,44,RN,Parda,Fundamental incompleto,15,15,Não,...,72,94,22,68458,68552,68480,4,7,7,1

In [18]:
rhc12.to_excel('C:\\Users\\rapha\\Desktop\\Lara\\TCR\\Bases_TCR\\rhc12_v4.xlsx')
rhc13.to_excel('C:\\Users\\rapha\\Desktop\\Lara\\TCR\\Bases_TCR\\rhc13_v4.xlsx')
rhc15.to_excel('C:\\Users\\rapha\\Desktop\\Lara\\TCR\\Bases_TCR\\rhc15_v4.xlsx')
rhc16.to_excel('C:\\Users\\rapha\\Desktop\\Lara\\TCR\\Bases_TCR\\rhc16_v4.xlsx')